*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
body{
    overflow: hidden;
}
.scroll-obj{
    width: 800px;
    margin: auto;
    background-color: #ECE5DD;
   
    
}

.scroll-content
{
    height: 380px;
    width: 800px;
    overflow: auto;
    overflow-x: hidden;
    
}

.main-chat{
    width: 800px;
    height: 900px;
    /* overflow: hidden;
    overflow-y: scroll; */
    background-color: #ECE5DD;
}





.chat-header{
    width: 97%;
    height: 50px;
    background-color: #6b6748;
    color: white;
    padding: 10px 0px 10px 20px;
    position: sticky;
    top: 0px;
    z-index: 1; 
}



/* styling main chat thread */

.date{
    width: 120px;
    height: 20px;
    padding: 10px;
    background-color:  #DCF8C6;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 10px;
}

.msg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-right: 60px;
}
.msg .mymsg{
    width: 300px;
    height: auto;
    background-color: #25D366;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px 0px 12px 12px;
    position: relative;
}

span{
    position: absolute;
    right: 5px;
    bottom: 3px;
    color: grey;
    font-size: 12px;
}




.reply{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
   
}

.reply > div
{
    width: 300px;
    height: auto;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 0px 12px 12px 12px;
   
}



/* Footer Styling */

.footer
{
    position: sticky;
    bottom: 0px;
    width: 100%;
    background-color: #d0cebf;
    height: 80px;
    padding: 20px 0px;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
input{
    margin: 5px 5px;
}

#inp{
    width: 80%;
    height: 40px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #ece5dd;
    padding: 0px 20px;
    font-size: 17px;
    color: black;
   
}

#send-btn{
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:#ece5dd;
    margin-left: 5px;
    border-radius: 6px;
    box-shadow: inset 0px 0px 0px;
   

}

#send-btn:hover{
    box-shadow: inset 80px 0px 0px #9e9d89;
}





#reply{
    width: 80%;
    height: 40px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #ece5dd;
    padding: 0px 20px;
    font-size: 17px;
    color: black;
   
}

#reply-btn{
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:#ece5dd;
    margin-left: 5px;
    border-radius: 6px;
    box-shadow: inset 0px 0px 0px;
   

}